html, body, header, footer, main, form, button, ul, li, p, footer, label, input, h1, h2, .empForm {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #006600;
}

main {
	width: 1000px;
	margin: 0px auto 0px auto;
	background-color: white;
}

header {
	background-color: #FF9966;
	padding: 30px;
}

footer {
	background-color: #FF9966;
	height: 100px;
}

form {
	padding-left: 30px;
	padding-top: 10px; 
	padding-bottom:10px;
}

label, input {
	display: block;
}

label {
	margin-top: 10px;
}

input[type="submit"] {
	margin-top: 10px;
	margin-bottom: 10px;
}

li {
	list-style: none;
	margin: 10px;
	padding-left: 20px
}

h2 {
	margin-bottom: 10px;
	padding-left: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: #CCFF66;
}

button {
	background-color: red;
	display: inline;
	padding: 5px;
}

.score1{
  background-color: red;
}
.score2{
  background-color: orange;
}
.score3{
  background-color: yellow;
}
.score4{
  background-color: lightgreen;
}
.score5{
  background-color: green;
}